# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby / Bundler
/vendor/
.bundle/
Gemfile.lock

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Local dev files
*.swp
*.bak
*.tmp

# OS-specific
ehthumbs.db
Icon?

# Python server cache (optional)
__pycache__/
